<c-card class="mb-4 view-border--none">
  <h2>Traveller Check-Up</h2>

  <p>
    Providing the following information to a Port Health Officer is required under the Public Health Act CAP 242 of the
    laws of Kenya, and is being collected as part of public health response to the Corona Virus pandemic.
  </p>
</c-card>

<br />

<form class="view-form" name="form_traveller_cu_acquire" id="form_traveller_check_up" (ngSubmit)="onSubmit()"
  #NewTraveller="ngForm">
  <c-row>
    <c-col>
      <p>Provide your traveller number to proceed *</p>

      <mat-form-field>
        <input matInput [formControl]="FCTraveller['_id']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance._id">

        <mat-error *ngIf="FCTraveller['_id'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>
    <c-col></c-col>
  </c-row>

  <div *ngIf="TravellerInstance._processing" class="fade show p-4" style="text-align: left;">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Fetching...</span>
  </div>

  <div class="view-padding--vertical" *ngIf="!TravellerInstance._api_response">
    <i class="fa fa-exclamation-circle view-color--red"></i> Traveller not found.
  </div>

  <div class="view-padding--vertical" *ngIf="TravellerInstance?._api_error">
    <i class="fa fa-exclamation-circle view-color--red"></i> {{ TravellerInstance._api_error }}
  </div>

  <div>
    <button type="submit" form="form_traveller_check_up" mat-raised-button color="primary">
      Get Traveller
    </button>
  </div>

</form>

<div *ngIf="retrievedData && Object.keys(retrievedData).length > 0">

  <mat-card >
    <mat-card-header>
      <mat-card-title>
        <!-- Button to toggle the visibility of the card content -->
        <button mat-icon-button color="primary"  (click)="toggleCard()">
          <mat-icon>{{ showCard ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
        Traveller Details
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="showCard" class="p-2">
      <div class="two-column-container">
        <div class="column">
          <div class="label">First Name:</div>
          <div class="data">{{ retrievedData.doc.traveller_first_name }}</div>

          <div class="label">Middle Name:</div>
          <div class="data">{{ retrievedData.doc.traveller_middle_name }}</div>

          <div class="label">Gender:</div>
          <div class="data">{{ retrievedData.doc.traveller_gender }}</div>

          <div class="label">Occupation:</div>
          <div class="data">{{ retrievedData.doc.traveller_occupation }}</div>

          <div class="label">Phone Number:</div>
          <div class="data">{{ retrievedData.doc.traveller_phone_number_kenyan }}</div>

          <div class="label">Email Address:</div>
          <div class="data">{{ retrievedData.doc.traveller_email_address }}</div>

          <div class="label">Postal Address:</div>
          <div class="data">{{ retrievedData.doc.traveller_postal_address }}</div>

          <div class="label">Cared for patient?:</div>
          <div class="data">{{ retrievedData.doc.traveller_patient_care }}</div>

          <div class="label">Fever</div>
          <div class="data">{{ retrievedData.doc.traveller_fever }}</div>

          <div class="label">Diarrhea:</div>
          <div class="data">{{ retrievedData.doc.traveller_diarrhea }}</div>

          <div class="label">Headache:</div>
          <div class="data">{{ retrievedData.doc.traveller_headache }}</div>

          <div class="label">Joint Muscle Pain:</div>
          <div class="data">{{ retrievedData.doc.traveller_joint_muscle_pains }}</div>

        </div>
        <div class="column">
          <div class="label">Nationality:</div>
          <div class="data">{{ retrievedData.doc.traveller_nationality }}</div>

          <div class="label">DoB:</div>
          <div class="data">{{ retrievedData.doc.traveller_dob | date:'yyyy-MM-dd' }}</div>

         <div class="label">Departure Country:</div>
          <div class="data">{{ retrievedData.doc.traveller_departure_country }}</div>

          <div class="label">Departure Town:</div>
          <div class="data">{{ retrievedData.doc.traveller_departure_town }}</div>

          <div class="label">Travelled to Uganda:</div>
          <div class="data">{{ retrievedData.doc.traveller_travel_uganda }}</div>

          <div class="label">Travelled to Mubende:</div>
          <div class="data">{{ retrievedData.doc.traveller_travel_mubende }}</div>

          <div class="label">Mubende locations:</div>
          <div class="data">{{ retrievedData.doc.traveller_travel_mubende_locations }}</div>

          <div class="label">Mubende Duration:</div>
          <div class="data">{{ retrievedData.doc.traveller_travel_mubende_duration }}</div>

          <div class="label">Bone Pain:</div>
          <div class="data">{{ retrievedData.doc.traveller_bone_pain }}</div>

          <div class="label">Unexplained Bruising:</div>
          <div class="data">{{ retrievedData.doc.traveller_unexplained_bruising }}</div>

          <div class="label">Unusual Body Weakness:</div>
          <div class="data">{{ retrievedData.doc.traveller_unusual_body_weakness }}</div>

          <div class="label">Internal/External Bleeding:</div>
          <div class="data">{{ retrievedData.doc.traveller_internal_external_bleeding }}</div>

          <div class="label">County:</div>
          <div class="data">{{ retrievedData.doc.traveller_county }}</div>

          <div class="label">Sub Location:</div>
          <div class="data">{{ retrievedData.doc.traveller_sub_location_estate }}</div>


        </div>

        <div class="column">
          <div class="label">Arrival Date:</div>
          <div class="data">{{ retrievedData.doc.traveller_date_arrival | date:'yyyy-MM-dd' }}</div>

          <div class="label">POE:</div>
          <div class="data">{{ retrievedData.doc.traveller_poe }}</div>

          <div class="label">Conveyance Mode:</div>
          <div class="data">{{ retrievedData.doc.traveller_conveyance_mode }}</div>

          <div class="label">Conveyance Number:</div>
          <div class="data">{{ retrievedData.doc.converyance_number }}</div>

          <div class="label">Conveyance Seat Number:</div>
          <div class="data">{{ retrievedData.doc.conveyance_seat_number }}</div>

          <div class="label">Travel Purpose:</div>
          <div class="data">{{ retrievedData.doc.traveller_travel_purpose }}</div>

          <div class="label">Sore/Painful Throat:</div>
          <div class="data">{{ retrievedData.doc.traveller_sore_painful_throat }}</div>

          <div class="label">Cough Vomiting:</div>
          <div class="data">{{ retrievedData.doc.traveller_cough_vomiting }}</div>

          <div class="label">Common cold:</div>
          <div class="data">{{ retrievedData.doc.traveller_common_cold }}</div>

          <div class="label">Weight Loss:</div>
          <div class="data">{{ retrievedData.doc.traveller_weight_loss }}</div>

          <div class="label">Weight Loss:</div>
          <div class="data">{{ retrievedData.doc.traveller_kenyan_residence }}</div>

          <div class="label">Contact Name:</div>
          <div class="data">{{ retrievedData.doc.traveller_contact_name }}</div>

          <div class="label">Contact Phone:</div>
          <div class="data">{{ retrievedData.doc.traveller_contact_phone_number }}</div>

          <div class="label">Village House Hotel:</div>
          <div class="data">{{ retrievedData.doc.traveller_village_house_hotel }}</div>


        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="retrievedData && Object.keys(retrievedData).length > 0">
  <form class="view-form" name="form_traveller_checkup" id="form_traveller_checkup" (ngSubmit)="onSubmitCheckup()"
        #NewTraveller="ngForm">

    <c-row>
      <c-col>
        <p>Body Temperature (Celcius)</p>

        <mat-form-field >
          <input matInput type="number" [formControl]="FCCheckup['traveller_body_temperature']" [errorStateMatcher]="matcher"
                 [(ngModel)]="CheckupInstance.doc['traveller_body_temperature']" inputMode="numeric">

          <mat-error *ngIf="FCCheckup['traveller_body_temperature'].hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </c-col>

      <c-col>
        <p>Case Classification</p>

        <mat-form-field>
          <mat-select [(ngModel)]="CheckupInstance.doc['traveller_case_classification']"
                      [formControl]="FCCheckup['traveller_case_classification']" [errorStateMatcher]="matcher"
                      name="traveller_case_classification">
            <mat-option *ngFor="let case_classification of case_classifications" [value]="case_classification.value">
              {{ case_classification.viewValue }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="FCCheckup['traveller_case_classification'].hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </c-col>
    </c-row>

    <c-row>
      <c-col>
        <p>Case Classification *</p>

        <mat-form-field>
          <mat-select [(ngModel)]="CheckupInstance.doc['traveller_action_taken']"
                      [formControl]="FCCheckup['traveller_action_taken']" [errorStateMatcher]="matcher"
                      name="traveller_action_taken">
            <mat-option *ngFor="let taken_action of taken_actions" [value]="taken_action.value">
              {{ taken_action.viewValue }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="FCCheckup['traveller_action_taken'].hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="CheckupInstance.doc['traveller_action_taken'] === 'other'">
          <input matInput placeholder="Other action"
                 [formControl]="FCCheckup['traveller_action_taken']" [errorStateMatcher]="matcher"
                 name="traveller_action_taken"> Describe here
        </mat-form-field>
      </c-col>

      <c-col>
        <p>Checkup Date *</p>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="traveller_checkup_date" [(ngModel)]="CheckupInstance.doc['traveller_checkup_date']"
                 [formControl]="FCCheckup['traveller_checkup_date']" [errorStateMatcher]="matcher">

          <mat-datepicker-toggle matSuffix [for]="traveller_checkup_date">
            <i class="fa fa-calendar"></i>
          </mat-datepicker-toggle>

          <mat-datepicker #traveller_checkup_date></mat-datepicker>

          <mat-error *ngIf="FCCheckup['traveller_checkup_date'].hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </c-col>
    </c-row>

    <div class="view-align--right">

      <div *ngIf="CheckupInstance._processing" class="fade show p-4" style="text-align: left;">
        <i class="spinner-grow spinner-grow-sm"></i>
        <span class="m-1">Submitting...</span>
      </div>

<!--      <div class="view-padding&#45;&#45;vertical" *ngIf="CheckupInstance._api_response[1] == '1'">-->
      <div class="view-padding--vertical" *ngIf="CheckupInstance._api_response[1]">
        <i class="fa fa-check-circle view-color--green"></i> Details submitted successfully
      </div>

      <button type="submit" form="form_traveller_checkup" mat-raised-button color="primary"
              *ngIf="CheckupInstance._api_response[1] != '1'">
        Submit
      </button>
    </div>
  </form>
</div>

