<c-card class="mb-4 view-border--none">
  <h2>International Travellers' Health Surveillance Form</h2>

  <p>
    Providing the following information to a Port Health Officer is required under the Public Health Act CAP 242 of the
    laws of Kenya, and is being collected as part of public health response to the Corona Virus pandemic.
  </p>
</c-card>

<br />

<form class="view-form" name="create_traveller" id="create_traveller" (ngSubmit)="onSubmit()" #NewTraveller="ngForm">
  <c-row>
    <c-col>
      <p>Nationality</p>

      <mat-form-field>
        <mat-select [(ngModel)]="TravellerInstance.doc['nationality']" [formControl]="FCTraveller['nationality']"
          [errorStateMatcher]="matcher" name="nationality">
          <mat-option *ngFor="let nationality of nationalities" [value]="nationality.value">
            {{ nationality.viewValue }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="FCTraveller['nationality'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Identity Type</p>

      <mat-form-field>
        <mat-select [(ngModel)]="TravellerInstance._identity_type" [formControl]="FCTraveller['_identity_type']"
          [errorStateMatcher]="matcher" name="_identity_type">
          <mat-option *ngFor="let identity_type of identity_types" [value]="identity_type.value">
            {{ identity_type.viewValue }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="FCTraveller['_identity_type'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Identity Number *</p>

      <mat-form-field>
        <input matInput [formControl]="FCTraveller['_identity_number']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance._identity_number">

        <mat-error *ngIf="FCTraveller['_identity_number'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <p>First Name *</p>
      <mat-form-field>
        <input matInput [formControl]="FCTraveller['first_name']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance.doc['first_name']">

        <mat-error *ngIf="FCTraveller['first_name'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Middle Name</p>
      <mat-form-field>
        <input matInput [formControl]="FCTraveller['middle_name']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance.doc['middle_name']">
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Last Name *</p>
      <mat-form-field>
        <input matInput [formControl]="FCTraveller['last_name']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance.doc['last_name']">

        <mat-error *ngIf="FCTraveller['last_name'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <p>Gender *</p>
      <mat-form-field>
        <mat-select [(ngModel)]="TravellerInstance.doc['gender']" [formControl]="FCTraveller['gender']"
          [errorStateMatcher]="matcher">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="FCTraveller['gender'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Date of Birth *</p>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" [(ngModel)]="TravellerInstance.doc['dob']"
          [formControl]="FCTraveller['dob']" [errorStateMatcher]="matcher">

        <mat-datepicker-toggle matSuffix [for]="picker">
          <i class="fa fa-calendar"></i>
        </mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="FCTraveller['dob'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <c-row>
        <p>Occupation *</p>
        <mat-form-field>
          <input matInput [formControl]="FCTraveller['occupation']" [errorStateMatcher]="matcher"
            [(ngModel)]="TravellerInstance.doc['occupation']">

          <mat-error *ngIf="FCTraveller['occupation'].hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </c-row>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <p>Date of Arrival *</p>
      <mat-form-field>
        <input matInput [matDatepicker]="date_of_arrival" [(ngModel)]="TravellerInstance.doc['date_of_arrival']"
          [formControl]="FCTraveller['date_of_arrival']" [errorStateMatcher]="matcher">

        <mat-datepicker-toggle matSuffix [for]="date_of_arrival">
          <i class="fa fa-calendar"></i>
        </mat-datepicker-toggle>

        <mat-datepicker #date_of_arrival></mat-datepicker>

        <mat-error *ngIf="FCTraveller['date_of_arrival'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Point of Entry *</p>

      <mat-form-field>
        <input matInput [formControl]="FCTraveller['entry_point']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance.doc['entry_point']">

        <mat-error *ngIf="FCTraveller['entry_point'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <p>Country of Departure *</p>

      <mat-form-field>
        <input matInput [formControl]="FCTraveller['departure_country']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance.doc['departure_country']">

        <mat-error *ngIf="FCTraveller['departure_country'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>City / Town of Departure *</p>

      <mat-form-field>
        <input matInput [formControl]="FCTraveller['departure_town']" [errorStateMatcher]="matcher"
          [(ngModel)]="TravellerInstance.doc['departure_town']">

        <mat-error *ngIf="FCTraveller['departure_town'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <p>Mode of Transport * </p>
      <mat-form-field>
        <mat-select [(ngModel)]="TravellerInstance.doc['transport_mode']" [formControl]="FCTraveller['transport_mode']"
          [errorStateMatcher]="matcher">
          <mat-option value="land">Land</mat-option>
          <mat-option value="sea">Sea</mat-option>
          <mat-option value="air">Air</mat-option>
        </mat-select>

        <mat-error *ngIf="FCTraveller['transport_mode'].hasError('required')">
          <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Conveyance Registration Number</p>

      <mat-form-field>
        <input matInput [(ngModel)]="TravellerInstance.doc['converyance_registration_number']">
      </mat-form-field>
    </c-col>

    <c-col>
      <p>Seat Number</p>
      <mat-form-field>
        <input matInput [(ngModel)]="TravellerInstance.doc['seat_number']">
      </mat-form-field>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <p>Purpose of Travel to Kenya</p>
      <mat-form-field>
        <mat-select [(ngModel)]="TravellerInstance.doc['travel_purpose']" [formControl]="FCTraveller['travel_purpose']"
          [errorStateMatcher]="matcher">
          <mat-option value="resident">Resident</mat-option>
          <mat-option value="touring">Touring</mat-option>
          <mat-option value="transit">Transit</mat-option>
          <mat-option value="business">Business</mat-option>
        </mat-select>
      </mat-form-field>
    </c-col>
  </c-row>

  <div class="view-align--right">
    <div class="view-padding--vertical" *ngIf="TravellerInstance._api_response['result'] == '1'">
      <i class="fa fa-check-circle view-color--green"></i> Details submitted successfully
    </div>

    <div class="view-padding--vertical" *ngIf="TravellerInstance._api_response['result'] == '-1'">
      <i class="fa fa-exclamation-circle view-color--red"></i> Failed! Kindly check and try again, if you had submitted
      your information before retrieve them ~here~.
    </div>

    <button type="submit" form="create_traveller" mat-raised-button color="primary" *ngIf="TravellerInstance._api_response['result'] != '1'">
      Submit
    </button>
  </div>
</form>