<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <input autoComplete="name" cFormControl placeholder="First Name" />
              </c-input-group>

              <c-input-group class="mb-3">
                <input autoComplete="name" cFormControl placeholder="Middle Name" />
              </c-input-group>

              <c-input-group class="mb-3">
                <input autoComplete="name" cFormControl placeholder="Last Name" />
              </c-input-group>

              <c-input-group class="mb-3">
                <select aria-label="Default select example" cSelect>
                  <option disabled>Open this select menu</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              </c-input-group>

              <div class="d-grid">
                <button cButton color="success">Submit</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>